---
http_interactions:
- request:
    method: get
    uri: https://od-api.oxforddictionaries.com/api/v1/inflections/en/words
    body:
      encoding: US-ASCII
      string: ''
    headers:
      App-Key:
      - "<OXFORD_API_KEY>"
      App-Id:
      - "<OXFORD_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Version:
      - v3.6.1-32-gd5e2d53
    body:
      encoding: UTF-8
      string: |-
        {
            "metadata": {
                "provider": "Oxford University Press"
            },
            "results": [
                {
                    "id": "words",
                    "language": "en",
                    "lexicalEntries": [
                        {
                            "grammaticalFeatures": [
                                {
                                    "text": "Plural",
                                    "type": "Number"
                                }
                            ],
                            "inflectionOf": [
                                {
                                    "id": "word",
                                    "text": "word"
                                }
                            ],
                            "language": "en",
                            "lexicalCategory": "Noun",
                            "text": "words"
                        },
                        {
                            "grammaticalFeatures": [
                                {
                                    "text": "Present",
                                    "type": "Tense"
                                },
                                {
                                    "text": "Third",
                                    "type": "Person"
                                },
                                {
                                    "text": "Singular",
                                    "type": "Number"
                                }
                            ],
                            "inflectionOf": [
                                {
                                    "id": "word",
                                    "text": "word"
                                }
                            ],
                            "language": "en",
                            "lexicalCategory": "Verb",
                            "text": "words"
                        }
                    ],
                    "word": "words"
                }
            ]
        }
  recorded_at: Wed, 28 Feb 2018 15:50:18 GMT
recorded_with: VCR 4.0.0
